
body {
  background-color: #fffbe9;
}

h1,h2,h3 {
  font-family: 'Times New Roman';
}

h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #fffbe9;
  background-color: #fffbe9;
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #e1e1ff;
  background-color: #e1e1ff;
}


.navButton {
 padding: 15px 25px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #fffbe9;
 position: relative;
 font-family: Times New Roman;
 font-weight: 1000;
 font-size: 14px;
 transition: all 250ms;
 overflow: hidden;
 border: 5px solid #7c7c9c;
 margin: 10px;
}

navButton::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color: #212121;
 z-index: -1;
 transition: all 250ms
}

navButton:hover {
 color: #fffbe9;
}

navButton:hover::before {
 width: 100%;
}

